:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.login {
  background-color: rgb(226, 187, 114);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.page {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

#navbar {
  border-bottom: 10px solid red;
}

#mainWorkoutPage {
  display: flex;
  border-top: 10px solid black;
}

.workoutsContainer {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 15px;
  gap: 20px;
}

.routineCreaterContainer {
  width: auto;
  justify-content: center;
  object-fit: contain;
}


#title {
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}



.cardContent {
  /* background-color: rgb(201, 57, 57); */
  /* border: 5px solid black; */
}