:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

/* CreateAccount Component */
#signUpPage {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* height: 100vh; */
  background-color: rgb(189, 194, 194);
}
#signUpTitle {
  text-align: center;
}


#signUpContainer {
  display: flex;
  justify-content: center;
  /* border: 5px solid blue; */
}


.signUpDetails {
  height: 600px;
  width: 400px;
  background-color: rgb(175, 15, 15);
}
.signUpForm {
  height: 600px;
  width: 600px;
  /* border: 5px solid black; */
  /* box-shadow: 0 5px 5px black; */
  background-color: white;
  justify-content: center;
  padding-top: 40px;
  padding-right: 80px;
}

#simple {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(189, 194, 194);
}

#superSimple {
  background-color: white;
  /* border: 5px solid black; */
  width: 600px;
  margin-top: 50px;
}

#signUpDetailsTop {
  width: 400px;
  background-color:rgb(175, 15, 15);
  margin-top: 50px;
}

#signUpButton {
  background-color: red;
}
/* CreateAccount Component */

.login {
  background-color: rgb(226, 187, 114);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}


.page {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

/* #ads {
  height: 15px;
  background-color: rgb(223, 138, 64);
} */
#navbar {
  border-bottom: 10px solid red;
}

#navTitle1 {
  color: red;
}

/* FOR HOME PAGE IMAGE DISPLAYS AND GENERAL HOME PAGE CSS */
/* RETURN TO HERE... */
#homeImageContainer {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 10px;
 
}
.homeImageHolders {
  height: 400px;
  width: 500px;
  box-shadow: 0 5px 15px black;
  overflow: hidden;
  cursor: pointer;
}

.homeImages{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .2s linear;
}

.homeImageHolders:hover img{
  transform: scale(1.1);
}

#secondContent {
  border: 5px solid black;
  margin-top: 50px;
}

#homeRoutineContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.homeRoutineHolders {
  border: 5px solid black;
  height: 300px;
  width: 250px;
  text-align: center;
  /* background-color: rgb(255, 239, 148); */
  background-color: rgb(134, 142, 151);
  box-shadow: 0 5px 5px black;
  cursor: pointer;
}

.homeRoutineHolders img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: .05;
}
.homeRoutineHolders:hover {
  animation: bounce 2s linear;
}

@keyframes bounce {
 20%, 50%, 80%, to{
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(-5px);
  }
  /* 70% {
    transform: translateY(-15px);
  } */
  /* 90% {
    transform: translateY(-4px);
  } */
}



.homeRoutineDaysOfWeek {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.homeRoutineDaysOfWeek h3{
  width: 250px;
  text-align: center;
  margin-top: 50px;
}

.dayRoutineUnassigner {
  display: flex;
}

.dayRoutineUnassigner button {
  color: white;
  background-color: red;
  font-weight: bolder;
}


#homeContent3 {
  display: flex;
  border: 5px solid rebeccapurple;
  width: 100%;
  margin-top: 20px;
  gap: 10px;
}

#displayExcersiseInfo{
  height: 500px;
  width: 50%;
  border: 5px solid darkcyan;

}

#excerciseInfoContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#exceriseInfo {
  justify-content: center;
  height: 400px;
  width: 90%;
  border: 5px solid #000000;
}

#displayBonus{
  height: 500px;
  width: 50%;
  border: 5px solid darkgreen;
}


#homeContent4 {
  /* display: flex;
  border: 5px solid greenyellow;
  margin-top: 40px;
  gap: 50px; */
  background-color:rgb(206, 247, 195);
  border: 5px solid black;
  margin-top: 40px;

}

#homeContent4Titles {
  display: flex;
  text-align: center;
  gap: 50px;
  
}

.homeCont4Title {
  width: 50%;
}

#homeContent4Content {
  display: flex;
  border: 5px solid greenyellow;
  /* margin-top: 40px; */
  gap: 50px;
  margin-bottom: 50px;
}

#setGoals {
  border: 5px solid rgb(17, 12, 12);
  background-color: rgb(152, 184, 184);
  height: 500px;
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.goalsPins {
  width: 100%;
  display: flex;
  position: relative;
}

.goalsPin1 {
  height: 50px;
  width: 60px;
}

.goalsPin1 img {
  height: 100%;
  width: 100%;
}
.goalsPin2 {
  height: 50px;
  width: 60px; 
  position: absolute;
  right: 0;
}

.goalsPin2 img {
  height: 100%;
  width: 100%;
}

.setNewGoal {
  display: flex;
  justify-content: center;
  /* margin-top: -20px; */
}

#newGoalFormContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.newGoalForm {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.goalInput1 {
  display: flex;
  flex-direction: column;
  /* width: 33%; */
  
  
}

.goalInput2 {
  display: flex;
  flex-direction: column;
  /* width: 33%; */
  
 
}

.goalInput3 {
  display: flex;
  flex-direction: column;
  /* width: 33%; */
  
}

#allPersonalGoals {
  margin-top: 10px;
  border-top: 2px solid black;
  overflow-y: scroll;
}

.personalGoal {
  width: 100%;
  display: flex;
  /* margin-left: 20px; */
  /* Remove left margin if causing issues*/
}

.personalGoalStructure {
  width: 33%;
  text-align: center;
}

.goalButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -10px;
  overflow: hidden;
}

#goalsMet {
  border: 5px solid brown;
  height: 500px;
  width: 50%;
  margin-right: 20px;
}


/* Personal Info divs*/

#allPersonalInfo {
  margin-top: 30px;
  border-top: 2px solid black;
  text-align: center;
}

#completedGoalsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}
.completedGoals {
  display: flex;
  justify-content: center;
}


/* UserRoutines component */


#userPageImageContainer {
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.userPageImageHolders {
  height: 280px;
  width: 100%;
  box-shadow: 0 5px 10px black;
  overflow: hidden;
  cursor: pointer;
}

.userPageImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .2s linear;
}

.userPageImageHolders:hover img{
  transform: scale(0.98);
}

#userPage {
  display: flex;
  border: 5px solid black;
  gap: 30px;
  margin-top: 50px;
}

#userPageWeeklyRoutine {
  border: 5px solid red;
  width: 100%;
  text-align: center;
}

#userRoutinesContainer {
  display: flex;
  border: 5px solid black;
  width: 810px;
  gap: 30px;
}

.userRoutineContentContainer {
  border: solid blue;
  height: auto;
  width: 250px;
}

.content {
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
}





/* RE INSTATE LATER FOR IMAGE HOLDING UP ROUTINESSS */
/* .titleAndPin {
  display: flex;
  justify-content: center;
}

.pinContainer {
  height: 50px;
  width: 50px;
}

.pinContainer img {
  width: 100%;
  height: 100%;
} */

#mainWorkoutPage {
  display: flex;
  border-top: 10px solid black;
}

.workoutsContainer {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 15px;
  gap: 20px;
}

.routineCreaterContainer {
  width: auto;
  justify-content: center;
  object-fit: contain;
}


#title {
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}



.cardContent {
  /* background-color: rgb(201, 57, 57); */
  /* border: 5px solid black; */
}

/* ROUTINES COMPONENT ASSEMBLING */

/* #freeRoutinesImage {
  position: relative;
  display: flex;
  background-color: #282c34;
  box-shadow: 0 10px 10px black;
  margin-left: 10px;
  margin-right: 10px;
}

.freeRoutinesImageHolder {
  height: 700px;
  width: 50%;
}

.freeRoutinesImageHolder img {
  width: 100%;
  height: 100%;
  
} */


#freeRoutinesImage {
  height: 650px;
  background: url("https://www.eatthis.com/wp-content/uploads/sites/4/2022/09/man-intense-workout.jpg?quality=82&strip=1");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(61, 61, 60);
  box-shadow: 0 10px 10px black;
  background-position-x: left;
}

#freeRoutinesIntro {
  text-align: center;
  margin-top: 40px;
  
}
#routinesBanner {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  text-shadow: 0 0px 1px black;
  color: red;
  text-align: center;
  /* text-shadow: 0px 0px 1px black; */
  
}

#freeRoutinesIntro p {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 13pt;
}

#freeRoutinesSorters {
  border: 5px solid blue;
  height: 100px;
}

/* Flex wrap fixed issues with displaying */

.allRoutinesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 5px solid red; */
  gap: 15px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("https://www.floorcity.com/cdn/shop/products/169316_2209.jpg?v=1640905240");
  /* border: solid 10px rgb(129, 42, 36); */
  border: 15px solid red;
  border-image: url("https://www.psdgraphics.com/file/dark-wood-texture.jpg") 30 round;
  
}

/* made padding from 15 to 20 to fit artistic background */
.allRoutinesCards {
  /* border: 5px solid black; */
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  width: 25%;
  padding: 25px;
  /* box-shadow: 0 0px 5px rgb(19, 18, 18); */
  /* background-color: rgb(158, 82, 52); */
  background-image: url("https://www.clipartbest.com/cliparts/nTB/B86/nTBB86Rkc.jpeg");
  /* background-position: center; */
  background-size: cover;
  /* filter: grayscale(60%); */
}

#pinHolder {
  display: flex;
  justify-content: center;
  
}
#pin {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 50px;
  /* border: 5px solid black; */
  
}

#pin img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* filter: grayscale(0%);
  filter: brightness(200%);
  filter: saturate(300%); */
}

/*https://png.pngtree.com/png-clipart/20231001/original/pngtree-note-paper-and-pushpin-photo-png-image_13216429.png*/
/*yellow paper with paaper clip image*/
/*https://www.clipartbest.com/cliparts/nTB/B86/nTBB86Rkc.jpeg*/

/*Coark Bulletin Board Background*/
/*https://wallpapers.com/images/hd/cork-board-background-1920-x-1080-18sxh90mwp63t5av.jpg*/